@page
@model ProjetoPUC.Pages.Estoque.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Estoque</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estoque.NomeProduto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estoque.NomeProduto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estoque.IdProduto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estoque.IdProduto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estoque.Quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estoque.Quantidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estoque.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estoque.Preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estoque.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estoque.Categoria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estoque.Empresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estoque.Empresa.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Estoque.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
